div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 1px solid red;
}
.translated{
    transform: perspective(10px) translateZ(-1px);
}
.scaled{
    margin-left: 200px;
    transform:perspective(355px) scaleZ(9) rotateX(45deg) rotateY(30deg);
}